/* Basic styles for clarity */
.float-box, .flex-item, .grid-item {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.clear {
    border: 2px solid red;
}

.float-section {
    float: left; 
}

.clear-float {
    clear: both; 
}

.flex-section {
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 
}

.flex-item {
    align-self: center; 
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: repeat(6, 1fr);  
    gap: 10px; 
}


.grid-item-1 {
    grid-column: 1 / 2; 
    grid-row: 1 / 2;
}

.grid-item-2 {
    grid-column: 2 / 3; 
    grid-row: 2 / 3;
}

.grid-item-3 {
    grid-column: 3 / 4; 
    grid-row: 3 / 4;
}

.grid-item-4 {
    grid-column: 4 / 5; 
    grid-row: 4 / 5;
}

.grid-item-5 {
    grid-column: 5 / 6; 
    grid-row: 5 / 6;
}

.grid-item-6 {
    grid-column: 6 / 7; 
    grid-row: 6 / 7;
}
